.row {
	margin-top: 22px;
	margin-left: 11px;
}

ol {
	margin-right: 5.5%;
}

.name-list li {
	padding-left: 5%;
	font-size: 2em;
	margin: 9px;
	background-color: rgba(35, 181, 175, 1);
	border: 1px solid black;
}

.container {
	margin-top: 10px;
}

.clickable {
	cursor: pointer;
	background-color: #f4fef4;
}

.board {
	background-color: lightgrey;
	padding-bottom: 500px;
}

.players, .sum, .bonus, .total {
	background-color: lightgrey;
	font-weight: bold;
}

.die-button {
	background-color: white;
	margin: 5px;
	width: 48px;
	height: 48px;
	border: 2px solid green;
}

.locked {
	border: 2px solid red;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
}

.dice, .throw-button{
	padding: 0;
}

.throw-button{
	margin-top: 40px;
	margin-bottom: 40px;
}
.die-1 {
	margin-left: 0px;
}

h4 {
	text-align: center;
}

/*below is everything styling and positioning the popup and its elements */
.dom-popup {
	position: absolute;
    z-index: 4;
    border: 2px solid black;
    width: 750px;
    height: 400px;
    bottom: 20%;
    left: 0;
    right: 0;
    top: auto;
    margin: 0 auto;
	padding: 5px;
	background-color: rgba(255,255,255,0.65);
	border-radius: 16px;
	-webkit-box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
	-moz-box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
	box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
}

.popup-bg {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	z-index: 3;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

div.col-lg-6.player-input, div.col-lg-6.player-list {
	padding: 2em;
}

.player-label {
	font-size: 2em;
}

#usrnm {
	font-size: 1.5em;
	font-family: "Geneva", sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding: 8px;
	-webkit-box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
	-moz-box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
	box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
}

.btn-add-players, .btn-start-game {
	margin: 0.5%;
	margin-top: 1em;
	background-color: #2B9FB1;
	font-size: 1.5em;
	font-family: "Geneva", sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding: 8px;
	-webkit-box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
	-moz-box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
	box-shadow: 3px 10px 44px 3px rgba(0,0,0,0.46);
}

.name-list {
	font-size: 1.5em;
	font-family: "Geneva", sans-serif;
}