.container {
	margin-top: 10px;
}

.board {
	background-color: lightgrey;
	padding-bottom: 500px;
}

.players, .sum, .bonus, .total {
	background-color: lightgrey;
	font-weight: bold;
}

.die-button {
	margin-left: 5px;
}

.dice {
	padding: 0;
}

.die-1 {
	margin-left: 0px;
}

h4 {
	text-align: center;
}


/*div.dice{
    float:left;
    width:32px;
    background:#F5F5F5;
    border:#999 1px solid;
    padding:10px;
    font-size:24px;
    text-align:center;
    margin:5px;
}
*/